<div class="collapse nav-back" id="navbarHeader" >
  <div class="container">
    <div class="row">
      <div class="col-sm-8 py-4">
        <h4 class="nav-back">Candy</h4>
        <p class="nav-back">After being a massage therapist for 2 years I decided to adventure forth.</p>
      </div>
      <div class="col-sm-4 py-4">
        <h4 class="nav-back">Explore</h4>
        <ul class="list-unstyled">
          <%= nav_helper 'nav-back', 'li' %>
          <li><%= login_helper 'nav-back' %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="navbar navbar-inverse nav-back">
  <div class="container d-flex justify-content-between">
    <h3 class="nav-back"><%= page_name_link %></h3>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>


