<h1>Things you should know</h1>



<div class="row">
  <div class="col-md-4">
    <%= image_tag 'me.jpeg', width: 300, alt: "Profile image" %>
  </div>
  <div class="col-md-8">
    <p>I'm an awesome Massage Therapist and enjoy as;ldkjfkdfjlk;dfjdl;<br/>kfjlk;fjdlkfjlfkjdlfk;jdlfkjdlfkjdslkfkdjfkdjlkdj;dlkfj;alsdkjfl;akdjflakfjldkjflkdjfl<br/>;kdajf;lkadjflkd;ajflkdjflkdjflkdjflkadjfldk;fjdl;kfjldkjfdakl;fjdlkfjadlk;jflk;adjflkdjflkdsjfald</p>
  </div>
</div>